div.all_animation{
    margin:200px auto 0;
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation-name: obert;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
.front, .back{
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    }

.front{
    background: blue;
    animation-name: front;
    }

.front::before, .back::before {
    content: '';
    background: inherit;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    }

.back{
    background: orangered;
    animation-name: back;
}

 @keyframes obert{
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}

 @keyframes front {
     from{
         transform: rotateZ(0deg);
     }
     to{
         transform: rotateZ(360deg);
     }
 }

 @keyframes back {
     from{
         transform: rotateZ(360deg)rotateY(180deg)translateZ(20px);
     }
     to{
         transform: rotateZ(0deg)rotateY(180deg)translateZ(20px);
     }
 }


